@charset "utf-8";
#look{border: 1px;border-color: #000000;}
.header{ width: 30%; height:10%; margin-top: 5%; margin-left: 30%; padding-top: 10px;  
	padding-bottom: 10px; padding-left: 10px; border: 2px solid #000000; 
	background-color: #ffffff; font-size: 20px;}
#iForm{width: 100%; height:100%;}
.btn{font-size: 18px;}

.iBody{margin-top: 3%;margin-left: 30%;}
#iTbale{font-size: 18px;}